<h1>New Participation</h1>

<%= form_with model: [@game, @participation], local: true do |form| %>
  <div class="field">
    <%= form.label :answer_content, 'Answer' %>
    <%= form.text_field :answer_content %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>